{% extends 'layout.html' %}

{% block body %}

        <div class="row">
            <div class="col-md-5">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <div class="card card-body">
                    <form action="/agregar_producto" method="POST">
                        <div class="form-group">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="marca" placeholder="Marca/Laboratorio" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="cantidad" placeholder="Cantidad" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <input type="text" name="precio" placeholder="Precio Unitario" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary w-100">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <table class="table table-striped table-bordered bg-white table-sm">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Marca/Laboratorio</td>
                            <td>Cantidad</td>
                            <td>Precio Unitario</td>
                            <td>Operaciones</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{ producto.1 }}</td>
                            <td>{{ producto.2 }}</td>
                            <td>{{ producto.3 }}</td>
                            <td>{{ producto.4 }}</td>
                            <td>
                                <a href="/editar/{{ producto.0 }}" class="btn btn-secondary">Editar</a>
                                <a href="/borrar/{{ producto.0 }}" class="btn btn-danger btn-delete">X</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>

{% endblock %}
