{% extends 'layout.html' %}

{% block body %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <form action="/actualizar/{{ producto.0 }}" method="POST">
            <div class="form-group">
                <input type="text" name="nombre" placeholder="Nombre" value="{{ producto.1 }}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="marca" placeholder="Marca/Laboratorio" value="{{ producto.2 }}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="cantidad" placeholder="Cantidad" value="{{ producto.3 }}" class="form-control">
            </div>
            <div class="form-group mb-3">
                <input type="text" name="precio" placeholder="Precio" value="{{ producto.4 }}" class="form-control">
            </div>
            <div class="form-group mb-3">
                <button type="submit" class="btn btn-success w-100">Guardar</button>
            </div>
            <div class="form-group mb-3">
                <a class="btn btn-dark w-100" href="{{ url_for('CRUD') }}" role="button">Cancelar</a>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}